html {
background: rgb(40,52,59); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(40,52,59,1) 1%, rgba(130,140,149,1) 22%, rgba(181,189,200,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(40,52,59,1)), color-stop(22%,rgba(130,140,149,1)), color-stop(100%,rgba(181,189,200,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(40,52,59,1) 1%,rgba(130,140,149,1) 22%,rgba(181,189,200,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(40,52,59,1) 1%,rgba(130,140,149,1) 22%,rgba(181,189,200,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(40,52,59,1) 1%,rgba(130,140,149,1) 22%,rgba(181,189,200,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(40,52,59,1) 1%,rgba(130,140,149,1) 22%,rgba(181,189,200,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=0 ); /* IE6-9 */



}
 

 body {width: 70%;
margin: 5px auto;
padding: 5px;
font-family: 'Helvetica', sans-serif;
}

A:link {text-decoration: none}
A:visited {text-decoration: none}

header {
	
	padding: 10px;

}




 header h1 {
    color: black;
    font-weight: 700;
align: left;
font-family: 'Josefin Sans', sans-serif; 
padding-top:20px;
padding-bottom: 0px;
font-size: 2.5em;
}

header h2 {
color: black;
align:left;
margin-top: 0px;
padding-top: 0px;
padding-bottom: 0px;
margin-left: 175px;
font-family: 'Josefin Sans', sans-serif;
font-weight: 400;
font-size: 2em;
}


h3 {
color: rgb(3,101,100);


}


h4 {
color: rgb(60, 141, 197);
text-align: right;
}

#content{
	width:950px;
	float:left;
	height:100%;
	
	}
#content h3{
	text-align:left;
	font-size: 1.4em;
	margin-left: 0px;
	font-family: 'Josefin Sans', sans-serif;
	clear: both;
	}
	

	#content blockquote {
		width:500px;
	margin-left:150px;
	margin-right: 100px;
	padding: 10px 20px 5px 20px;
	font-family: Helvetica, sans-serif;
	line-height:1.3em;	
	}
	#content p{
	width:600px;
	text-align: left;
	margin-left:100px;
	padding: 10px 20px 5px 20px;
	font-family: Helvetica, sans-serif;
	line-height:1.3em;
	clear: both;
	}
#content img{
	width:300px;
	float:left;
	margin-left: 150px;
	margin:10px 25px 10px 25px;
	border-width:1px;
	border-style:solid;
	border-color:black;
	}
#content2{
	width:950px;
	float:left;
	height:100%;
	
	}
#content2 h3{
	text-align:left;
	font-size: 1.4em;
	margin-left: 0px;
	font-family: 'Josefin Sans', sans-serif;
	
	}
	

	#content2 blockquote {
		width:500px;
	margin-left:150px;
	margin-right: 100px;
	padding: 10px 20px 5px 20px;
	font-family: Helvetica, sans-serif;
	line-height:1.3em;	
	}
	#content2 p{
	width:600px;
	text-align: left;
	margin-left:100px;
	padding: 10px 20px 5px 20px;
	font-family: Helvetica, sans-serif;
	line-height:1.3em;
	
	}
#content2 img{
	width:300px;
	float:left;
	margin-left: 150px;
	margin:10px 25px 10px 25px;
	border-width:1px;
	border-style:solid;
	border-color:black;
	}
nav {


	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;

}

nav ul {
	list-style: none;
	padding-left: 0;

}

nav li {
	display: inline;
	padding: 10px;
	float: right;
}

ul {list-style-type:circle;

}

div.img
{
  margin: 10px;
  border: 5px black;
  height: auto;
  width: auto;
  float: right;
  text-align: center;
}
footer{
	padding: 50px;
}
